<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
  <form>
    <label for="email">email:</label>
    <input type="text" id="email" name="email">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <label for="password_confirmation">Password Confirmation:</label>
    <input type="password" id="password_confirmation" name="password_confirmation">
    <input type="submit" value="Register">
  </form>
</body>
</html>
